<!DOCTYPE html>
<html lang="pt-br">

<head>
	<!-- Meta tags Obrigatórias -->
	<meta charset="utf-8" />
	<meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no" />

	<!-- Bootstrap CSS -->
	<link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css"
		integrity="sha384-MCw98/SFnGE8fJT3GXwEOngsV7Zt27NXFoaoApmYm81iuXoPkFOJwJ8ERdknLPMO" crossorigin="anonymous" />

</head>

<div th:replace="index :: header"></div>



<body class="container" style="background-color: white;">

	<div class="container">
		<h3>Tabela de vendas</h3>
		<div class="row col-md-7 table-responsive">
			<table id="tabelaVenda" class="table">
				<thead class="thead-dark">
					<tr>
						<th scope="col">Id Venda</th>
						<th scope="col">Codigo Produto</th>
						<th scope="col">Codigo Cliente</th>
						<th scope="col">Valor Produto</th>

					</tr>
				</thead>
				<tbody>
					<tr th:if="${vendas.empty}">
						<td colspan="2">Nenhuma venda encontrada</td>
					</tr>

					<tr th:each="venda: ${vendas}">
						<td><span scope="row" th:text="${venda.id}"></span></td>
						<td><span th:text="${venda.codigoProduto}"> </span></td>
						<td><span th:text="${venda.codigoCliente}"> </span></td>
						<td><span th:text="${venda.valorProduto}"> </span></td>

					</tr>

				</tbody>
				
			</table>
		</div>
		

	</div>

	<div>

		<!-- Botão para acionar modal -->
		<button type="submit" th:href="@{/venda/relario/}" value="EXPORTAR" class="btn btn-primary" data-toggle="modal"
			data-target="#modalExemplo">
			Exportar relatorio
		</button>

		<!-- Modal -->
		<div class="modal fade" id="modalExemplo" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel"
			aria-hidden="true">
			<div class="modal-dialog" role="document">
				<div class="modal-content">
					<div class="modal-header">
						<h5 class="modal-title" id="exampleModalLabel">Relatorio exportado</h5>
						<button type="button" class="close" data-dismiss="modal" aria-label="Fechar">
							<span aria-hidden="true">&times;</span>
						</button>
					</div>
					<div class="modal-body">
						Seu relatorio foi exportado com sucesso!!!
					</div>
					<div class="modal-footer">
						<button type="button" class="btn btn-secondary" data-dismiss="modal">Fechar</button>
						<button type="button" class="btn btn-primary">Salvar mudanças</button>
					</div>
				</div>
			</div>
		</div>
		<p>
			<a href="/loja/venda" shape="rect">Voltar para vendas</a>
		</p>

	</div>



	<script src="https://code.jquery.com/jquery-3.3.1.slim.min.js"
		integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo"
		crossorigin="anonymous"></script>
	<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.3/umd/popper.min.js"
		integrity="sha384-ZMP7rVo3mIykV+2+9J3UJ46jBk0WLaUAdn689aCwoqbBJiSnjAK/l8WvCWPIPm49"
		crossorigin="anonymous"></script>
	<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/js/bootstrap.min.js"
		integrity="sha384-ChfqqxuZUCnJSK3+MXmPNIyE6ZbWh2IMqE241rYiqJxyMiZ6OW/JmZQ5stwEULTy"
		crossorigin="anonymous"></script>
</body>

</html>