<!DOCTYPE HTML>
<html lang="en" xmlns="http://www.w3.org/1999/xhtml"
	xmlns:th="http://www.thymeleaf.org">
<head>
<title>Novo APP FGTS - Cadastramento</title>
<meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />

<link rel="stylesheet"
	href="https://stackpath.bootstrapcdn.com/bootstrap/3.4.1/css/bootstrap.min.css"
	integrity="sha384-HSMxcRTRxnN+Bdg0JdbxYKrThecOKuH5zCYotlSAcp1+c8xmyTe9GYg1l9a69psu"
	crossorigin="anonymous" />

</head>
<body class="container" style="background-color: white;">

	<div>
		<table class="table">
		<tr th:if="${produtos.empty}">
			<td colspan="2">Nenhum produto disponivel!</td>
		</tr>
		<tr th:each="produto: ${produtos}">
			<td><span th:text="${produto.id}"> Id </span></td>
			<td><span th:text="${produto.nome}"> Nome </span></td>
			<td><span th:text="${produto.valorProduto}"> Valor </span></td>
		</tr>
		</table>
	</div>



</body>
</html>